.body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px;

  /*    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(810px, 1fr));*/
}

.main {
  width: 810px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main__title {
  color: #444;
  font-size: 42px;
  line-height: 120%;
  padding: 0;
  margin: 20px 0px;
  /* text-transform: uppercase;*/
  font-family: "EncodeSansLight", sans-serif;
}

.main__separator {
  width: 810px;
  border-top: 10px solid #d0d0d0;
  margin-bottom: 10px;
  margin-left: 0px;
}

.main__separatorMenu {
  width: 810px;
  border-top: 2px solid #10aec3;
  margin: 10px 10px 20px 0px;
}

.main__text {
  color: #444;
  font-size: 29px;
  line-height: 120%;
  padding: 0px 10px;
  margin: 20px 0 10px;
  font-family: "EncodeSansRegular", sans-serif;
  text-align: justify;
}

.main__nav {
  width: 100%;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

/* Contacto */
.aside {
  width: 300px;
  margin-left: 20px;
}

.aside__title {
  font-size: 19px;
  font-weight: 900;
  line-height: 120%;
  font-family: "EncodeSansRegular", sans-serif;
  width: auto;
  text-transform: uppercase;
  margin: 0;
  border-bottom: 2px dotted #959595;
}
.aside__subtitle {
  font-family: "EncodeSansRegular", sans-serif;
  margin-top: 20px;
  width: 100%;
}

.aside__nav {
  margin-top: 30px;
}

.aside__menu {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.aside__text {
  font-family: "EncodeSansRegular", sans-serif;
  width: 100%;
}

/* Menu botones*/
.button {
  width: 200px;
  height: 50px;
  background-color: white;
  color: black;
  border: 2px solid #10aec3;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  transition-duration: 0.6s;
  cursor: pointer;
  font-family: "EncodeSansRegular", sans-serif;
  font-size: 18px;
}

.button:hover {
  background-color: #008cba;
  color: white;
}

/* Button Chatbot*/
.chat-btn {
  box-sizing: border-box;

  background-color: #10aec3;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.24);
  width: 80px;
  height: 80px;
  border-radius: 100px 100px 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  will-change: transform;
}
.chat-btn > div {
  position: relative;
  width: 80px;
  height: 80px;
  padding: auto;
}

.chat-btn div div {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 100px;
  transition: all ease-in-out 0.3s;
  position: absolute;
}

.chat-btn .left-eye {
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.chat-btn .right-eye {
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.chat-btn .mouth {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(0.001deg);
}

.chat-btn:hover {
  transform: translateY(-15px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.chat-btn:hover .left-eye {
  top: 35%;
  left: 20px;
}

.chat-btn:hover .right-eye {
  top: 35%;
  right: 20px;
}
