.body {
  display: flex;
  justify-content: space-around;
  align-items: normal;
  gap: 50px;

  /*    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(810px, 1fr));*/
}

.main {
  width: 810px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main__title {
  color: #444;
  font-size: 42px;
  line-height: 120%;
  padding: 0;
  margin: 20px 0px;
  /* text-transform: uppercase;*/
  font-family: "EncodeSansLight", sans-serif;
}

.main__separator {
  width: 810px;
  border-top: 10px solid #d0d0d0;
  margin-bottom: 10px;
  margin-left: 0px;
}

.main__separatorMenu {
  width: 810px;
  border-top: 2px solid #10aec3;
  margin: 10px 10px 20px 0px;
}

.main__text {
  color: #444;
  font-size: 29px;
  line-height: 120%;
  padding: 0px 10px;
  margin: 20px 0 10px;
  font-family: "EncodeSansRegular", sans-serif;
  text-align: justify;
}

.main__nav {
  width: 100%;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

/* Contacto */
.aside {
  width: 300px;
  margin-left: 20px;
  margin-top: 30px;
}

.aside__title {
  font-size: 19px;
  font-weight: 900;
  line-height: 120%;
  font-family: "EncodeSansRegular", sans-serif;
  width: auto;
  text-transform: uppercase;
  border-bottom: 2px dotted #959595;
}
.aside__subtitle {
  font-family: "EncodeSansRegular", sans-serif;
  margin-top: 30px;
  width: 100%;
}

.aside__nav {
  margin-top: 20px;
}

.aside__menu {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.aside__text {
  font-family: "EncodeSansRegular", sans-serif;
  width: 100%;
}

.aside__text a {
  font-family: "EncodeSansRegular", sans-serif;
  width: 100%;
  text-decoration: none;
  color: #444;
}
.aside__text a:hover {
  text-decoration: underline;
}
