.headerVTV {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header__title {
	color: #444;
	font-size: clamp(1.2rem, 5vw, 2.5rem);
	line-height: 120%;
	padding: 10px;
	font-family: "EncodeSansLight", sans-serif;
}

.header__separator {
	width: 810px;
	border-top: 10px solid #d0d0d0;
	margin-bottom: 10px;
	margin-left: 0px;
}

.header__text {
	color: #444;
	padding: 10px;
	font-size: clamp(1.2rem, 5vw, 2rem);
	line-height: 120%;
	padding: 0px 10px;
	margin: 20px 0 10px;
	font-family: "EncodeSansRegular", sans-serif;
	text-align: justify;
	max-width: 810px;
}

.main__separatorMenu {
	max-width: 810px;
	border-top: 2px solid #10aec3;
	margin: 0px;
}

.cards {
	margin: 0 auto;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main__nav {
	max-width: 850px;
	margin-top: 20px;
	padding: 10px;
	height: auto;
	overflow: hidden;
	display: grid;
	grid-auto-flow: dense;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	align-items: start;
	justify-content: center;
	gap: 30px;
}
