* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins, sans-serif";
  --primary-color: #3750a4;
  --second-color: #213c63;
  --link-color: #aac7fd;
}

@font-face {
  font-family: "Exo2-Regular"; /*Can be any text*/
  src: url("../../public/fonts/Exo_2/static/Exo2-Regular.ttf");
}

@font-face {
  font-family: "Exo2-SemiBold"; /*Can be any text*/
  src: url("../../public/fonts/Exo_2/static/Exo2-SemiBold.ttf");
}

.chatbot {
  width: 350px;
  margin: 5px;
  background: #f8f6f6;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5),
    0 10px 64px -500px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.chatbot__header {
  background: var(--second-color);
  color: #fff;
  border-radius: 15px 15px 0 0;
  padding: 18px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: "Exo2-Regular";
}

.chatbot__header span {
  color: #fff;
  font-family: "Exo2-Regular";
}

.chatbot__chatbox {
  height: 400px;
  overflow-y: auto;
  padding: 15px 10px 10px 20px;
}

.chatbot__chat {
  min-width: 320px;
  display: flex;
  margin: 0px 10px 0px 20px;
  gap: 15px;
}

.chatbot__robot {
  align-self: flex-end;
}

.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chatbot__dialog {
  width: 260px;
  word-wrap: break-word;
  color: #ffffff;
  background: var(--primary-color);
  padding: 10px;
  border-radius: 10px 10px 10px 0;
  -webkit-border-radius: 10px 10px 10px 0;
  -moz-border-radius: 10px 10px 10px 0;
  -ms-border-radius: 10px 10px 10px 0;
  -o-border-radius: 10px 10px 10px 0;
  font-family: "Exo2-Regular";
}

.chatbot__dialog a {
  color: var(--link-color);
  font-family: "Exo2-Regular";
}

.chatbot__menu {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 15px;
  margin: 10px 5px 5px 5px;
}

.chatbot__menu span {
  font-family: "Exo2-SemiBold";
  padding: 0 2px;
}

.chatbot__text {
  min-width: 280px;
  word-wrap: break-word;
  color: #fff;
  background: var(--primary-color);
  padding: 10px;
  border-radius: 10px 10px 10px 0;
  -webkit-border-radius: 10px 10px 10px 0;
  -moz-border-radius: 10px 10px 10px 0;
  -ms-border-radius: 10px 10px 10px 0;
  -o-border-radius: 10px 10px 10px 0;
  font-family: "Exo2-Regular";
}

.chatbot__text a {
  color: #5dcef0;
  font-family: "Exo2-Regular";
}

.chatbot__chatonline {
  margin-top: 30px;
}

.chatbot__input {
  bottom: 0;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 5px;
  background: #fff;
  padding: 5px 20px;
  border-top: 1px solid #ccc;
}

.chatbot__input textarea {
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 0.95rem;
  resize: none;
  padding: 16px 15px 16px 0;
}

.chatbot__input span {
  color: #1767d1;
  cursor: pointer;
  visibility: hidden;
}

.chatbot__input textarea:valid ~ span {
  visibility: visible;
}
