* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins, sans-serif";
}

body {
  background: #f7f3f3;
}
.chatbot {
  position: fixed;
  right: 40px;
  bottom: 100px;
  width: 400px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.chatbot__header {
  background: #213c63;
  border-radius: 15px 15px 0 0;
  padding: 14px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.chatbot__chatbox {
  height: 510px;
  overflow-y: auto;
  padding: 25px 20px 70px;
}

.chatbot__chat {
  display: flex;
  gap: 15px;
}

.chatbot__robot {
  align-self: flex-end;
}

.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

@font-face {
  font-family: "Exo2-Regular"; /*Can be any text*/
  src: url("../../public/fonts/Exo_2/static/Exo2-Regular.ttf");
}

@font-face {
  font-family: "Exo2-SemiBold"; /*Can be any text*/
  src: url("../../public/fonts/Exo_2/static/Exo2-SemiBold.ttf");
}

.chatbot__dialog {
  padding: 15px;
  color: #000;
  background: #e0e0e0;
  border-radius: 10px 10px 10px 0;
  -webkit-border-radius: 10px 10px 10px 0;
  -moz-border-radius: 10px 10px 10px 0;
  -ms-border-radius: 10px 10px 10px 0;
  -o-border-radius: 10px 10px 10px 0;
  font-family: "Exo2-Regular";
}

.chatbot__button {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin: 10px 10px;
}

.chatbot__button span {
  font-family: "Exo2-SemiBold";
  padding: 0 2px;
}

.chatbot__text {
  width: 300px;
  word-wrap: break-word;
  color: #fff;
  background: #3750a4;
  padding: 10px;
  border-radius: 10px 10px 10px 0;
  -webkit-border-radius: 10px 10px 10px 0;
  -moz-border-radius: 10px 10px 10px 0;
  -ms-border-radius: 10px 10px 10px 0;
  -o-border-radius: 10px 10px 10px 0;
  font-family: "Exo2-Regular";
}

.chatbot__text a {
  color: #5dcef0;
  font-family: "Exo2-Regular";
}

.chatbot__chatonline {
  margin: 20px;
  background: #5dcef0;
}

.chatbot .chat-input {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 5px;
  background: #fff;
  padding: 5px 20px;
  border-top: 1px solid #ccc;
}

.chat-input textarea {
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 0.95rem;
  resize: none;
  padding: 16px 15px 16px 0;
}

.chat-input span {
  color: #1767d1;
  cursor: pointer;
  visibility: hidden;
}

.chat-input textarea:valid ~ span {
  visibility: visible;
}
