@font-face {
  font-family: "EncodeSansExtraLight";
  src: url("./fonts/Encode_Sans/static/EncodeSans-ExtraLight.ttf")
    format("truetype");
}

@font-face {
  font-family: "EncodeSansLight";
  src: url("./fonts/Encode_Sans/static/EncodeSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "EncodeSansMedium";
  src: url("./fonts/Encode_Sans/static/EncodeSans-Medium.ttf")
    format("truetype");
}

@font-face {
  font-family: "EncodeSansRegular";
  src: url("./fonts/Encode_Sans/static/EncodeSans-Regular.ttf")
    format("truetype");
}
* {
  box-sizing: border-box;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1em;
}
h3 {
  font-size: 1.25em;
}
body {
  margin: 0;
  background: #fff;
  font-family: "EncodeSansLight", sans-serif;
  color: #444;
  width: 100%;
}
