.headerLayout {
  background-color: #f1f1f1;
  margin-bottom: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.header__container {
  height: 190px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerLayout__logo_vtv {
  margin-left: 80px;
  padding: 10px 10px;
}

header .headerLayout__logo_bsas {
  margin-left: 200px;
  margin-right: 80px;
  padding: 5px 5px;
}
